<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav" appCommon>
    <li class="nav-item">
      <i class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</i>
    </li>
    <li class="nav-item">
      <i class="nav-link" routerLinkActive="active" routerLink="teams">Teams</i>
    </li>
    <li class="nav-item">
      <i class="nav-link" routerLinkActive="active" routerLink="players">Players</i>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>